<div class="mainNavbar">
    <div class="input">
        <button style="margin-right: 0px; background-color: green;color: white;" onclick="openDocumentModal()">
            Add new Document
        </button>

        <button style="margin-right: 0px;" onclick="showAllDataOfCollection('<%=dbname%>', '<%=clname%>')">
            Refresh
        </button>
        <div class="head" style="color:green">
            <h1>db.<%=dbname%>.<%=clname%>
            </h1>
        </div>

    </div>
    <div class="input">
        <select name="rowCountSelect" id="rowCountSelect"
            style="width: 20%;min-width: 100px;font-size: 15px;border-radius: 5px;"
            onchange="showAllDataOfCollection('<%=dbname%>', '<%=clname%>')">
            <option value="1" <%=rowCount==1 ? 'selected' : '' %>>
                1
            </option>
            <option value="5" <%=rowCount==5 ? 'selected' : '' %>>
                5
            </option>
            <option value="10" <%=rowCount==10 ? 'selected' : '' %>>
                10
            </option>
            <option value="20" <%=rowCount==20 ? 'selected' : '' %>>
                20
            </option>
            <option value="25" <%=rowCount==25 ? 'selected' : '' %>>
                25
            </option>
            <option value="50" <%=rowCount==50 ? 'selected' : '' %>>
                50
            </option>
            <option value="100" <%=rowCount==100 ? 'selected' : '' %>>
                100
            </option>
            <!-- Add similar lines for other options -->
            <option value="All" <%=rowCount=='All' ? 'selected' : '' %>>
                All
            </option>
        </select>

        <label for="quicksort" style="margin-left: 20px;">Quick Sort</label>
        <input type="checkbox" onclick="showAllDataOfCollection('<%=dbname%>', '<%=clname%>')" id="quicksort"
            <%=(qsort==1) ? 'checked' : '' %> style="width: fit-content; font-size: 15px; border-radius: 5px;">

        <div class="sortingdiv">
            <label for="">Sort on field: </label> <input type="text" id="sortBy" value=""
                style="font-size: 15px;margin: 0px;border-radius: 10px 0px 0px 10px;"> <select name="" id="sortOrder"
                style="display: inline;border-radius: 0px 10px 10px 0px;">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

    </div>
</div>
<!-- documentsPage.ejs -->

<!-- documentsPage.ejs -->

<div class="mainBody">
    <% if (documents.length===0) { %>
        <p>Collection is empty</p>
        <% } else { %>
            <% documents.forEach((document, index)=> { %>
                <div>
                    <%= index + 1 %>) <!-- Add 1 to make it 1-based index -->
                        <div class="document">
                            <% Object.keys(document).forEach((key)=> { %>
                                <span>
                                    <%= key %>:
                                </span><span>
                                    <%= document[key] %>
                                </span><br>
                                <% }); %>
                        </div>
                </div>
                <% }); %>
                    <% } %>
</div>


<div class="overlay" id="documentoverlay"></div>

<div class="modal" id="documentModal">
    <div class="modal-content">
        <div class="modal-head collections">
            <!-- Create Database<span class="close" id="closeModalBtn">&times;</span> -->
            <h1 id="modalHead">Create Database</h1>
            <div class="left">
                <span class="close" id="closedocumentModalBtn">&times;</span>

            </div>
        </div>
        <div class="body">
            <form action="" id="documentForm">
                <div class="documentTable">
                    <table id="keyValueTable">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="key"></td>
                                <td><input type="text" name="value"></td>
                                <td>
                                    <button type="button" class="add-button" onclick="addRow(this)"><i
                                            class="fas fa-plus"></i></button>
                                    <button type="button" class="delete-button" onclick="deleteRow(this)"><i
                                            class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" class="documentKey" name="key"></td>
                                <td><input type="text" class="" name="value"></td>
                                <td>
                                    <button type="button" class="add-button" onclick="addRow(this)"><i
                                            class="fas fa-plus"></i></button>
                                    <button type="button" class="delete-button" onclick="deleteRow(this)"><i
                                            class="fas fa-trash"></i></button>
                                </td>
                            </tr>

                            <!-- ... other rows ... -->
                        </tbody>
                    </table>
                </div>

                <script>
                    function addRow(button) {
                        var table = document.getElementById("keyValueTable");
                        var rowIndex = button.parentNode.parentNode.rowIndex;
                        var newRow = table.insertRow(rowIndex + 1);

                        // Add input cells
                        var keyCell = newRow.insertCell(0);
                        var valueCell = newRow.insertCell(1);
                        var actionCell = newRow.insertCell(2);

                        keyCell.innerHTML = '<input type="text" name="key[]">';
                        valueCell.innerHTML = '<input type="text" name="value[]">';
                        actionCell.innerHTML = '<button type="button" class="add-button" onclick="addRow(this)"><i class="fas fa-plus"></i></button>' +
                            '<button  type="button" class="delete-button" onclick="deleteRow(this)"><i class="fas fa-trash"></i></button>';
                    }

                    function deleteRow(button) {
                        var table = document.getElementById("keyValueTable");
                        var rowIndex = button.parentNode.parentNode.rowIndex;
                        table.deleteRow(rowIndex);
                    }
                </script>

                <div class="input">
                    <button type="button" style="float:right;margin-right: 0px; background-color: green;color: white;" id="" onclick="addDocument()">
                        Add Data
                    </button>
                    <button type="button" style="float:right; margin-right: 10px;" onclick="$('#closedocumentModalBtn').click()">
                        Cancel
                    </button>

                </div>
            </form>


            <br>

        </div>
    </div>
</div>