<!-- mainCollections.ejs -->
<div class="mainNavbar">
    <div class="input">
        <button style="margin-right: 0px; background-color: green;color: white;" onclick="openCollectionModal('<%= databaseName %>')">
            Create Collection
        </button>

        <button style="margin-right: 0px;">
            Refresh
        </button>

        <div class="head" style="color:green">
            <h1>db.<%= databaseName %></h1>
        </div>

    </div>
</div>
<div class="mainBody">
    <% collectionMetadata.forEach((collection)=> { %>
        <div class="mainCollection" onclick="showAllDataOfCollection('<%= databaseName %>','<%= collection.name %>')" style="cursor: pointer;">
            <div class="collectionName">
                <%= collection.name %>
                    <div class="left">
                        <span class="material-symbols-outlined left">
                            delete
                        </span>
                    </div>
            </div>
            <div class="collectionMetaData">
                <div class="hello">
                    <b>
                        Storage Size:
                    </b>
                    <br>
                    <%= collection.storageSize %> B
                </div>
                <div class="hello">
                    <b>
                        Documents:
                    </b>
                    <br>
                    <%= collection.documentCount %>
                </div>
                <div class="hello">
                    <b>
                        Avg. Doc. Size
                    </b>
                    <br>
                    1234.567
                </div>
                <div class="hello">
                    <b>
                        Indexes
                    </b>
                    <br>
                    1234.567
                </div>
                <div class="hello">
                    <b>
                        Total Index Size:
                    </b>
                    <br>
                    1234.567
                </div>
                <!-- Add more metadata fields as needed -->
            </div>
        </div>
        <% }); %>
</div>